.btn {
  display: inline-block;
  padding: var(--spacing-sm) var(--spacing-lg);
  border-radius: 980px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  transition: background-color 0.2s ease, transform 0.1s ease;
  cursor: pointer;
  border: 2px solid transparent;
  width: max-content;
  width: max-content;
}

.btn--primary {
  background-color: var(--primary-color);
  color: var(--secondary-light-color);
}

.btn--primary:hover {
  background-color: var(--primary-dark-color);
}

.btn--secondary {
  background-color: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn--secondary:hover {
  background-color: var(--primary-color);
  color: var(--secondary-light-color);
}

.btn:active {
  transform: scale(0.97);
}
@media (max-width: 1000px){
  .btn{
    width: 100%;
  }
}