:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Brand colors */
  --primary-color: #F55704;
  --primary-light-color: #F4B006;
  --primary-dark-color: #C6341C;

  --secondary-color: #f2f2f7;
  --secondary-light-color: #ffffff;
  --secondary-dark-color: #c7c7cc;

  --text-light-color: #8e8e93;
  --text-color: #1c1c1e;
  --text-dark-color: #000000;

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
